@import 'variables';

.nav {
    overflow: auto;

    &List {
        display: flex;

        &Item {
            margin: 0 30px;

            &>a {
                color: $text-light;
                font-family: $font-alegreya;
                font-size: 18px;
                font-style: normal;
                font-weight: 900;
                letter-spacing: 1px;
                line-height: normal;
                text-transform: uppercase;
                transition: $transition;

                &:hover {
                    color: $hover-color;
                }
            }
        }
    }
    
}